:root{
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

.nav{
    background-color: var(--main-red);
    display: flex;
    justify-content: flex-end;
    position: fixed; 
    width: 100%; 
    top:0;
    right: 0; 
}

.nav-list{
    display: flex;
    margin-right: 2rem;
}

ul{
    list-style: none;
}

li{
    display: list-item;
}

a{
    text-decoration: none;
    color: var(--main-white);
}

.nav-list a{    
    padding-right: 30px;
    font-size: 1.5rem;
    display: block;
    padding:1rem;
}

.nav-list a:hover{    
    background: var(--main-blue);
}

.welcome-section{
    height: 100vh;
    width: 100%s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section h1{
    font-size: 4rem;
    text-align: center;
}

.welcome-section > h3{
    color: var(--main-red);
    font-weight: 200;
    font-size: 2.5rem;
    font-style: italic;
}

.projects-section{    
    text-align: center;
    background-color: var(--main-blue);
}

.project-header{
    display: inline-block;
    border-bottom: 2px solid white ;
    margin: 5rem auto;
}

.project-header h1{
    font-size: 2.5rem;
}

.projects-presentation{    
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 17px;
   justify-content: center;
   align-items: center;  
   width: 100%;    
   max-width: 1300;   
}

.project-tile{
    height: 500px;  
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

.project-img{
    width: 500px;
    height: 90%;
    object-fit: cover;
    display: block;
}

.project-title{   
    background-color: var(--main-gray);
    height: 7%;
    font-size: 1.5rem;
    text-align: center; /* Horizontally center the text */
    padding: 1.5% 0; /* Add padding for spacing */
}

.btn{
    display: inline-block;
    background-color: var(--main-gray);
    padding: 5px;
    margin: 80px auto;
    font-size: 1.5rem;
}

.btn:hover{
    background-color: var(--main-red);
}

.btn:hover > i {
    transform: translateX(2px);
  }

.code{
    color: var(--main-gray);
    transition: color 0.3s ease-out;
    font-size: 1.4rem;
}

.project-tile:hover .code {
    color: #ff7f50;
 }

 .contact-section{
    height: 80vh;
    background-color: var(--main-gray);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
 }

 .contact-section > h1{
    font-size: 4.2rem;
 }

 .contact-section > p{
    font-size: 1.5rem;
    font-weight: 100;
    font-style: oblique;
 }

 .social-media{
    width: 80vw;
    margin-top: 80px;
    font-size: 1.5rem;
 }

 .social-media > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
 }

 .contact-details > i{
    padding-right: 5px;
 }

 .contact-details{
    transition: margin 0.3s ease-out;
 }

 .contact-details:hover{
    margin: 2px;
 }



